/* You can add global styles to this file, and also import other style files */

.html,
body {
  background-color: #ededff;
}
html,
body {
  height: 100%;
  padding: 10px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  width: 100%;
}

.subtitle {
 color: rgb(107, 130, 180);
 font-weight: 400;
 text-align: center;
 line-height: 26px;
}
